@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Recursive';
    src: url('Recursive_VF_1.084_eng.woff2');
}

.font-meow {
    font-variation-settings: "MONO" 0, "CASL" 1, "wght" 0, "slnt" -9, "CRSV" 1;
}
