body {
    background-color: #F0F0F0;
    font-family: Lato, sans-serif;

    text-align: center;
    margin: 10% auto;
    max-width: 90%;
}

div {
    max-width: inherit;
    margin: 5px auto;
}

/* Icons */

span.icon {
    background-size: 50px 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: auto 5px;
}

span.icon-github {
    content: url(icons/github.svg);
}

span.icon-twitter {
    content: url(icons/twitter.svg);
}