body {
    background-color: #F0F0F0;
/* font-family: Lato, sans-serif; */
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#links {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Icons */

span.icon {
    display: inline-block;
    width: 128px;
    height: 128px;
    margin: auto 16px;
    flex: 1;
}

span.icon-github {
    content: url(icons/github.svg);
}

/* TODO: what's up with the padding built in? */
span.icon-twitter {
    content: url(icons/twitter.svg);
}

span.icon-keybase {
    content: url(icons/keybase.svg);
}
