{%if section %}
{% set title = section.title %}
{% set navname = section.components | first %}
{% else %}
{% set title = page.title %}
{% set navname = page.components | first %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ title }} | {{ config.title }}{% endblock title %}</title>

    {% block css %}
    <link rel="stylesheet" href="{{ get_url(path='index.css') }}">
    {% endblock css %}

    {% block meta %}
    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:description"
          content="An expert in the field of doing things wrongly for over 20 years, Andrew Pan lends us his expertise in a series of long-form blog posts." />
    <meta property="og:type" content="website" />
    {% endblock meta %}
    <meta property="og:site_name" content="{{ config.title }}" />
    <meta property="og:image" content="{{ get_url(path='apple-touch-icon-180x180.png') }}" />
    <meta property="og:url" content="{{ current_url }}" />

    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}
  </head>

  <body class="bg-gray-900 text-gray-50">
    {% block content %}
    <div class="flex flex-col items-center px-2 md:max-w-screen-md min-h-stretch md:min-h-screen mx-auto divide-solid divide-y-2">
      <header class="w-full">
        <nav class="p-4 text-2xl font-mono w-full">
          <ul class="m-auto w-full text-center md:text-right"> {# evil alignment hacks #}
              <li class="mx-2 inline md:float-left">
                  <a class="mx-auto group" href="/">
                    {# img has display: block preset. no clue why. #}
                    <img class="w-8 h-8 inline rounded-full group-hover:outline" src='{{ get_url(path="sakamoto.png") }}' alt="home">
                    <span class="hidden origin-bottom -z-10 md:group-hover:inline-block
                                 md:scale-75 md:translate-x-[-25%] md:group-hover:animate-meow
                                 font-meow">
                      meow!
                    </span>
                  </a>
              </li>
            {% for item in config.extra.menu %}
            <li class="mx-2 inline"><a class="{% if item.url is containing(navname) %}underline
            hover:no-underline{% else %}hover:underline{% endif %}" href="{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </header>
      <main class="w-full pt-4 pb-4 flex-grow">
        {% block main %}{% endblock %}
      </main>
      {% set rev = load_data(path="rev.json") %}
      <footer class="p-4 text-gray-400">Content CC-BY-SA 4.0. Built with Zola and
          Nix. Revision <a class="hover:underline"
          href="https://github.com/knownunown/website/commit/{{ rev }}">{{ rev }}</a>.
        <aside class="hidden">Void where prohibited. No warranty, express or implied. Phosphate
          free.</aside>
      </footer>
    </div>
    {% endblock content %}
  </body>
</html>
