{% extends "base.html" %}

{% block meta %}
<meta property="og:title" content="{{ page.title | title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="og:article:author" content="{{ config.extra.author }}">
{% for tag in page.taxonomies.tags %}
<meta property="og:article:tag" content="{{ tag }}" />
{% endfor %}
{% endblock meta %}

{% block main %}
<article class="px-4">
  <h1 class="text-3xl mb-2">{{ page.title }}</h1>
  <h3 class="my-2 text-gray-400">{{ page.date }} | ~{{ page.word_count }} words</h3>
  <div id="content" class="prose prose-lg prose-dark prose-yellow max-w-max">
  {{ page.content | safe }}
  </div>
</article>
{% endblock %}
