{% extends "base.html" %}

{% block main %}
<section class="prose prose-dark prose-xl">
{{ section.content | safe }}
</section>

<ol class="grid grid-cols-6" reversed>
  {% for page in section.pages %}
  <li class="col-span-4 text-xl list-decimal list-inside">
    <a class="text-yellow-500 hover:underline" href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </li>
    <span class="col-span-1">{{ page.date }}</span>
    <span class="col-span-1 text-right">~{{ page.word_count }} words</span>
  {% endfor %}
</ol>
{% endblock %}
