{% extends "base.html" %}

{% block content %}
<main class="flex flex-col min-h-stretch md:min-h-screen w-screen">
  <div class="md:flex md:flex-row flex-shrink items-center m-auto md:divide-x-2 divide-solid">
    <div class="p-8">
      <h1 class="text-4xl my-2">doing bad things poorly</h1>
      <h2 class="text-2xl my-2">channeled by Andrew Pan</h2>
    </div>
    <nav class="p-8 text-2xl font-mono">
      <ul class="m-auto">
        {% for item in config.extra.menu %}
        <li class="my-2"><a class="hover:underline" href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="hidden md:flex flex-col m-auto items-center">
    {% set posts = get_section(path="posts/_index.md") %}
    {% set post = posts.pages.0 %}
    <h1 class="text-3xl">latest post: {{ post.title }}</h1>
    <article class="my-2">
      <div class="prose prose-lg prose-dark prose-yellow max-w-xl">{{ post.summary | safe }}</div>
    </article>
    <a class="hover:underline text-1xl" href="{{ post.permalink }}">read more →</a>
  </div>
</main>
{% endblock content %}
