{% extends "base.html" %}

{% block content %}
<main class="flex flex-col min-h-stretch md:min-h-screen w-screen">
  <div class="md:flex md:flex-row flex-shrink items-center m-auto md:divide-x-2 divide-solid">
    <div class="p-8">
      <h1 class="relative text-4xl my-2">
        {# wooo #}
        <span class="inline-block
                     after:content-['(天意)']
                     after:absolute
                     after:hover:opacity-100
                     after:opacity-0
                     after:left-0
                     after:-top-4
                     after:text-xl">
          tny
        </span>
        dot town</h1>
      <h2 class="text-2xl my-2">channeled by Andrew Pan</h2>
    </div>
    <nav class="p-8 text-2xl font-mono">
      <ul class="m-auto">
        {% for item in config.extra.menu %}
        <li class="my-2"><a class="hover:underline" href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  {% set posts = get_section(path="posts/_index.md") %}
  {% set post = posts.pages.0 %}
  <a class="bg-gray-800 hover:bg-gray-700"
     href="{{ post.permalink }}">
    <div class="hidden md:flex flex-col m-auto items-center">
    <h1 class="text-3xl">latest post: {{ post.title }}</h1>
    <article class="my-2 z-10">
      <div class="prose prose-lg prose-dark prose-yellow max-w-xl">{{ post.summary | safe }}</div>
    </article>
    <span class="hover:underline text-1xl">read more →</span>
     </div></a>
  <img class="absolute bottom-0 max-w-[16rem] mx-auto left-0 right-0 md:left-auto"
       alt="digital art of cute cat"
       src="{{ get_url(path='sakamoto_nobg.png') }}" />
</main>
{% endblock content %}
